{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- hero section -->
<section>

    <div class="childBg">
      <div class="overlayy"></div>

      <div class="aboutText">
        <h1 class="fw-bold">Child Education – Gallery</h1>
        <h4>Gallery Child Education - Albums</h4>
        <!-- <button type="button" class="btn-secondaryhead"><i class="ti ti-heart-filled"></i> DONATE NOW</button> -->
      </div>

  </section>

  <section>
    <div class="container py-5">
      <div class="row">
        <h1 class="bigtext text-center py-5">Children Ministry Department</h1>
        <div class="col-md-5">
          

          <img src="{% static "images/ee.jpeg" %}" class="w-100 h-75" alt="" data-aos="zoom-in"
          data-aos-duration="3000">
          
        </div>
        <div class="col-md-7">
          <div class="text-muted ">
            

            <b class="fw-bold">Purpose of Children’s Ministries:</b>
            Children’s Ministry aims to develop the faith of children from birth through age 14, leading them into union with the Church.
            <br> <b class="fw-bold">It seeks to provide multiple ministries that will: </b>
            Lead children to Jesus.
            Disciple them in their daily walk with Him.
            Cooperate with other departments, including Sabbath School, to provide religious education to children. <br>
            <b class="fw-bold">Mission and Approach:</b>
            Children’s Ministries fulfills its mission by developing a variety of grace-oriented ministries for children. These ministries are:
           <br><b class="fw-bold"> Inclusive:</b> Welcoming all children regardless of background or abilities.
          <br>  <b class="fw-bold">Service-Oriented:</b> Encouraging children to serve others.
            <br><b class="fw-bold">Leadership-Building:</b> Equipping children with leadership skills.
           <br> <b class="fw-bold">Safe:</b> Providing a secure environment.
           <br><b class="fw-bold"> Evangelistic:</b> Sharing the gospel with children.
           <br><b class="fw-bold"> Importance of Early Training:</b>
            Ellen G. White, a prominent Adventist author, emphasized the significance of early training for children:
            “The lessons that the child learns during the first seven years of life have more to do with forming their character than all they learn in future years.”
            “Children are the most susceptible to the teachings of the gospel; their hearts are open to divine influences.”
            “Very young children may have correct views of their state as sinners and of salvation through Christ.”<br>
            <b class="fw-bold">Encouragement to Allow Children to Come to Jesus:</b>
            Jesus Himself encouraged His followers not to hinder children from coming to Him.
            The church and parents should allow children to experience spiritual growth and education.
            Remember, Children’s Ministries plays a vital role in nurturing young hearts and minds within the Seventh-day Adventist Church community.
            
          </div>

          
          <div class="py-4 mx-5">
            <a href="/child"><button type="button" class="btn-secondaryhead" data-aos="zoom-in">View Gallery</button></a>
            
          </div>
        </div>
       
      </div>
    </div>
  </section>




{% endblock content %}