{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- hero section -->
<section>

    <div class="approachBg">
      <div class="overlay"></div>

      <div class="aboutText">
        <h1 class="fw-bold">Communications</h1>
        <!-- <h4>Happiness is not something ready made.</h4> -->
        <!-- <button type="button" class="btn-secondaryhead"><i class="ti ti-heart-filled"></i> DONATE NOW</button> -->
      </div>

  </section>

  <div class="d-flex justify-content-center">
  <p class="py-5 w-75 text-muted">
    As Adventists help their friends understand the Bible, they are sharing the hope that can only be found in Jesus. The Communication Department helps provide tools for church institutions and members to share this hope. Phone apps, websites, social media channels, video programming and gaming fuse with news reporting and press releases to reach audiences inside and outside the Adventist Church. The goal is to provide effective and inviting means for people to get to know Jesus.
  </p>

  </div>
    <div class="py-4 d-flex justify-content-center">
    <a href="/com"> <button type="button" class="btn-secondaryhead" data-aos="zoom-in">View Gallery</button></a> 
      
    </div>



{% endblock content %}