{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- hero section -->
<section>

    <div class="womenBg">
      <div class="overlayy"></div>

      <div class="aboutText">
        <h1 class="fw-bold">Our Events</h1>
        <h4>Gallery Events - Albums</h4>
        <!-- <button type="button" class="btn-secondaryhead"><i class="ti ti-heart-filled"></i> DONATE NOW</button> -->
      </div>

  </section>


<!-- Event- section  -->
<section>
  <div class="container py-5">
    <div class="card-group card-img gap-5">
      <div class="card">
        <img
          src="{% static "/images/medi-1.jpeg" %}"
          class="card-img-top"
          alt="Hollywood Sign on The Hill"
          data-aos="zoom-in"
      data-aos-duration="3000"
        />
        <div class="card-body">
          <p class="card-text title2">30th January 2024 To 3rd February 2024 / Health Heart Training</p>
          <h6 class="card-title">
            Healthy Heart Training Program Conducted At Varanasi.
          </h6>
        </div>
      </div>
      <div class="card">
        <img
          src="{% static "/images/medi-2.jpeg" %}"
          class="card-img-top"
          alt="Palm Springs Road"
          data-aos="zoom-in"
      data-aos-duration="3000"
        />
        <div class="card-body">
          <p class="card-text title2">10th February 2024 To 31th March 2024 / IMEWS Program</p>
          <h6 class="card-title">
            IMEWS program from  10th Feb 2024 to 31th March 2024. 
          </h6>
        
        </div>
      </div>
      <div class="card">
        <img
          src="{% static "/images/medi-4.jpeg" %}"
          class="card-img-top"
          alt="Los Angeles Skyscrapers"
          data-aos="zoom-in"
      data-aos-duration="3000"
        />
        <div class="card-body">
          <p class="card-text title2">4th May 2024 TO 28th May 2024 / Health Camp</p>
          <h6 class="card-title">
            Healthy Camp Conducted In EUPS
          </h6>
         
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Event- section-two  -->
<section>
  <div class="container py-5">
    <div class="card-group gap-5">
      <div class="card">
        <img
          src="{% static "/images/youth.jpeg" %}"
          class="card-img-top"
          alt="Hollywood Sign on The Hill"
          data-aos="zoom-in"
      data-aos-duration="3000"
        />
        <div class="card-body">
          <p class="card-text title2">16th March 2024 / Youth Day</p>
          <h6 class="card-title">
            Global Youth Day Celebrated
          </h6>
         
        </div>
      </div>
      <div class="card">
        <img
          src="{% static "/images/ladies.jpeg" %}"
          class="card-img-top"
          alt="Palm Springs Road"
          data-aos="zoom-in"
      data-aos-duration="3000"
        />
        <div class="card-body">
          <p class="card-text title2">2nd March 2024 / Women's Day</p>
          <h6 class="card-title">International Women's Day of Prayer Celebrated</h6>
        
        </div>
      </div>
      <div class="card">
        <img
          src="{% static "/images/edu.jpeg" %}"
          class="card-img-top"
          alt="Los Angeles Skyscrapers"
          data-aos="zoom-in"
      data-aos-duration="3000"
        />
        <div class="card-body">
          <p class="card-text title2">29th April 2024 / SDA School</p>
          <h6 class="card-title">SDA School Sport Academic Opening Ceremony</h6>
         
        </div>
      </div>
    </div>
  </div>
</section>




{% endblock content %}