{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- hero section -->
<section>

    <div class="healthBg">
      <div class="overlayy"></div>

      <div class="aboutText">
        <h1 class="fw-bold">Sabbath School and Personal Ministry</h1>
        
        <!-- <button type="button" class="btn-secondaryhead"><i class="ti ti-heart-filled"></i> DONATE NOW</button> -->
      </div>

  </section>



  <section>
    <div class="container py-5">
      <div class="row">
        <!-- <h1 class="bigtext text-center py-5">Sabbath School and Personal Ministry</h1> -->
        <div class="col-md-5">
          

          <img src="{% static "images/kk.jpeg" %}" class="w-100 h-75" alt="" data-aos="zoom-in"
          data-aos-duration="3000">
          
        </div>
        <div class="col-md-7">
          <div class="text-muted ">
           <b>Sabbath School is an essential part of Seventh-day Adventist worship and study. It provides a platform for members to engage in Bible study, explore God’s Word, and deepen their faith. The lessons cover various topics related to the cosmic conflict between good and evil, emphasizing spiritual growth and understanding.
<br><br>
            The current quarterly lesson, titled “The Great Controversy,” delves into themes such as the ongoing battle between righteousness and sin, the role of Jesus as our High Priest, the enduring power of God’s Word, and the hope we find in salvation. Each week, participants study a specific lesson, memorize key verses, and discuss the material in small groups.
            <br><br>
            Remember, Sabbath School encourages fellowship, learning, and spiritual reflection. If you’re interested, you can find detailed lesson materials, videos, and additional resources on the Sabbath School website. 
            Feel free to explore and engage in meaningful study with fellow believers! 
          </div>
          <div class="py-4 mx-5">
            <a href="/sabbat">  <button type="button" class="btn-secondaryhead">View Gallery</button></a>
              
            </div>
          
          
        </div>
       
      </div>
    </div>
  </section>





{% endblock content %}






