{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- hero section -->
<section>

    <div class="helpBg">
      <div class="overlayy"></div>

      <div class="aboutText">
        <h1 class="fw-bold">Health Department</h1>
        
        <!-- <button type="button" class="btn-secondaryhead"><i class="ti ti-heart-filled"></i> DONATE NOW</button> -->
      </div>

  </section>


  <section>
    <div class="container py-5">
      <div class="row">
        <!-- <h1 class="bigtext text-center py-5">Health Department</h1> -->
        <div class="col-md-5">
          

          <img src="{% static "images/l.jpeg" %}" class="w-100 h-75" alt="" data-aos="zoom-in"
          data-aos-duration="3000">
          
        </div>
        <div class="col-md-7">
          <div class="text-muted ">
            <h4> <b class="fw-bold">Health Department</b></h4>
            Health and Temperance. -The church Health and Temperance Council, in collaboration with the Lay Activities Council, shall lead out in developing a schedule of health and temperance activities that will include programs such as stop-smoking plans, cooking schools, health classes, stress-control programs, and other related endeavors. We believe our body is the temple of God and as such we have a special responsibility to protect and care for our bodies. The promotion of good health and a healthy lifestyle is an integral part of the mission of the Seventh-day Adventists. The Health Ministries Department is committed to pursue Christ mission in restoring the image of God in man. “To make man whole” is the primary objective of the department.
          </div>

          
          <div class="py-4 mx-5">
            <a href="/sti"><button type="button" class="btn-secondaryhead" data-aos="zoom-in">View Gallery</button></a>
            
          </div>
        </div>
       
      </div>
    </div>
  </section>






{% endblock content %}