{% extends "base.html" %}   
{% load static %}
{% block content %}

  <!-- hero section -->
  <section>

    <div class="healthBg">
      <div class="overlayy"></div>

      <div class="aboutText">
        <h1 class="fw-bold">Sabbath School and Personal Ministry</h1>
        
        <!-- <button type="button" class="btn-secondaryhead"><i class="ti ti-heart-filled"></i> DONATE NOW</button> -->
      </div>

  </section>



  

 <!-- gallery section  -->
 <section>
  <div id="gallery">
    <div class="container my-5">
      <h1
        class="text-center bigtext2"
        data-aos="zoom-in"
        data-aos-duration="3000"
      >
      Sabbath School Department
      </h1>
      <div class="row py-5">
        <div class="col-md-6">
          <div class="row">
            <div
              class="col-md-6 p-1 small"
              data-aos="zoom-in"
              data-aos-duration="3000"
            >
              <img
                src="{% static "/images/k.jpeg" %}"
                class="rounded w-100 p-1"
                data-bs-toggle="modal"
                data-bs-target="#imagemodal"
                alt=""
              />
            </div>
            <div
              class="col-md-6 p-1 small"
              data-aos="zoom-in"
              data-aos-duration="2500"
            >
              <img src="{% static "/images/n.jpeg" %}" class="rounded w-100 p-1" alt="" />
            </div>
          </div>
          <div class="row">
            <div
              class="col-md-6 p-1 small"
              data-aos="zoom-in"
              data-aos-duration="3000"
            >
              <img src="{% static "/images/o.jpeg" %}" class="rounded w-100 p-1" alt="" />
            </div>
            <div
              class="col-md-6 p-1 small"
             data-aos="zoom-in"
              data-aos-duration="3000"
            >
              <img src="{% static "/images/oo.jpeg" %}" class="rounded w-100 p-1" alt="" />
            </div>
          </div>
        </div>
        <div
          class="col-md-6 align-self-center big"
          data-aos="zoom-in"
          data-aos-duration="2000"
        >
          <img src="{% static "/images/p.jpeg" %}" class="rounded w-100 P-1" alt="" />
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-6 align-self-center big"
         data-aos="zoom-in"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000"
        >
          <img src="{% static "/images/r.jpeg" %}" class="rounded w-100 p-1" alt="" />
        </div>
        <div class="col-md-6">
          <div class="row">
            <div
              class="col-md-6 p-1 small"
              data-aos="zoom-in"
              data-aos-duration="3000"
            >
              <img src="{% static "/images/u.jpeg" %}" class="rounded w-100 p-1" alt="" />
            </div>
            <div
              class="col-md-6 p-1 small"
              data-aos="zoom-in"
              data-aos-duration="3000"
            >
              <img src="{% static "/images/w.jpeg" %}" class="rounded w-100 p-1" alt="" />
            </div>
          </div>
          <div class="row">
            <div
              class="col-md-6 p-1 small"
             data-aos="zoom-in"
              data-aos-duration="3000"
            >
              <img src="{% static "/images/X.jpeg" %}"class="rounded w-100 p-1" alt="" />
            </div>
            <div
              class="col-md-6 p-1 small"
              data-aos="zoom-in"
              data-aos-duration="3000"
            >
              <img src="{% static "/images/v.jpeg" %}" class="rounded w-100 p-1" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</section>








{% endblock content %}