{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- hero section -->
<section>

    <div class="womenBg">
      <div class="overlayy"></div>

      <div class="aboutText">
        <h1 class="fw-bold">Women's Department</h1>
        <!-- <h4>Gallery Women's - Albums</h4> -->
        <!-- <button type="button" class="btn-secondaryhead"><i class="ti ti-heart-filled"></i> DONATE NOW</button> -->
      </div>

  </section>


  <section>
    <div class="container py-5">
      <div class="row">
        <h1 class="bigtext text-center py-5">Women's Department</h1>
        <div class="col-md-5">
          

          <img src="{% static "images/ladies.jpeg" %}" class="w-100 h-75" alt="" data-aos="zoom-in"
          data-aos-duration="3000">
          
        </div>
        <div class="col-md-7">
          <div class="text-muted ">
            The Department of Women's Ministries exists to uphold, encourage, and challenge Adventist women in their pilgrimage as disciples of Jesus Christ and members of His world church. <br>
<b class="fw-bold">Vision:</b> Women empowered and nurtured to fulfill their God-given potential.

<br><b class="fw-bold">
Mission:</b> Our mission is in the larger sense common to all Christians—that of uplifting Christ in the Church and in the world. But more specifically, we are called to:
<br><br>
Nurture—Reach Up to God <br>
Empower—Reach In with God <br>
Outreach—Reach Out with God 
<br><br>
Women's Ministries is a place to address the spiritual, emotional, physical, and social needs of women in the church. Women's Ministries encourages women to improve their potential for participation in the mission of the church. It is a support system for hurting women—whether they are suffering from divorce, abuse or simply loneliness. It encourages women to become involved in all areas of ministry in their church, their community, and in their home. It mentors young women so that they may find joy in the Lord. Women's Ministries recognizes that women have many Gifts of the Spirit, and it attempts to help women discover and use these gifts to the glory of God.
          </div>

          
          <div class="py-4 mx-5">
          <a href="/wome">  <button type="button" class="btn-secondaryhead">View Gallery</button></a>
            
          </div>
        </div>
       
      </div>
    </div>
  </section>





{% endblock content %}