{% extends "base.html" %}
{% load static %}
{% block content %} 

<!-- hero section -->
<section>

    <div class="oldBg">
      <div class="overlayy"></div>

      <div class="aboutText">
        <h1 class="fw-bold">Youth Department – Gallery</h1>
        <h4>Gallery Youth Department - Albums</h4>
        <!-- <button type="button" class="btn-secondaryhead"><i class="ti ti-heart-filled"></i> DONATE NOW</button> -->
      </div>

  </section>

  <section>
    <div class="container py-5">
      <div class="row">
        <h1 class="bigtext text-center py-5">Youth Department</h1>
        <div class="col-md-5">
          

          <img src="{% static "images/youth.jpeg" %}" class="w-100 h-75" alt="" data-aos="zoom-in"
          data-aos-duration="3000">
          
        </div>
        <div class="col-md-7">
          <div class="text-muted ">
            <b class="fw-bold">Seventh-day Adventist Youth Department EUPS</b> <br>
            <br> 
            <b class="fw-bold">Empowering Youth for the Future.</b>
            
            The EUPS Youth Department has set visionary goals to mobilize resources for the salvation of young people. Here are the key aspects of their strategy:
            <br>
             <b class="fw-bold">Youth Salvation</b>
            
            The primary focus of our youth ministry is the salvation of our youth. Recognizing increased at-risk behavior, falling moral standards, and rising youth apostasy rates, we aim to bring young hearts closer to Christ. Through innovative digital approaches, we seek to engage, inspire, and lead them on a path of faith and discipleship¹.
            <br>
              Building upon the legacy of our predecessors, we look beyond the obvious. As we approach the second coming of Jesus Christ, our digital transformation strategy involves:
            <br>
            
            <b class="fw-bold">Digital Animation Evangelism (DAE):</b> Created as a means to unite Seventh-day Adventist youth, DAE leverages animation to share the gospel. Talented young animators collaborate to produce captivating content that draws souls to Christ. Whether through short films, social media, or interactive websites, DAE bridges the gap between technology and evangelism
            <br>
            Literature Distribution In the spirit of the early years, where youth distributed millions of pieces of literature, we continue to use digital channels for literature distribution. E-books,books  and online devotions.
            
             Through social media, webinars, and virtual events, we connect with youth worldwide. Our goal is to create meaningful interactions that lead to personal. <br> 
            <b class="fw-bold">Online fundamentals Believes:</b> Interactive Bible study platforms allow youth to explore Scripture, ask questions, and deepen their faith. We encourage peer-led discussions and mentorship.
            
            <b class="fw-bold">Virtual Prayer Networks:</b> Connecting young prayer warriors across time zones, we foster a culture of intercession. Prayer apps, live streams, and prayer chains keep us united in seeking God's guidance.
            
           <b class="fw-bold">Global Youth Vision:</b>
            
            The Global Youth Vision unites local churches with global objectives. As part of this vision, we pass on the baton of leadership, making every local church a true home for youth.
          </div>

          
          <div class="py-4 mx-5">
          <a href="/you"> <button type="button" class="btn-secondaryhead" data-aos="zoom-in">View Gallery</button></a> 
            
          </div>
        </div>
       
      </div>
    </div>
  </section>



{% endblock content %}   




